@font-face {
      font-family: nunito-sans;
      src: url('../fonts/nunito/NunitoSans-Regular.ttf');
      font-style: normal;
      font-weight: 400;
}

@font-face {
      font-family: nunito-sans;
      src: url('../fonts/nunito/NunitoSans-Light.ttf');
      font-style: normal;
      font-weight: 300;
}

@font-face {
      font-family: nunito-sans;
      src: url('../fonts/nunito/NunitoSans-SemiBold.ttf');
      font-style: normal;
      font-weight: 600;
}

@font-face {
      font-family: nunito-sans;
      src: url('../fonts/nunito/NunitoSans-Bold.ttf');
      font-style: normal;
      font-weight: 700;
}

@font-face {
      font-family: nunito-sans;
      src: url('../fonts/nunito/NunitoSans-ExtraBold.ttf');
      font-style: normal;
      font-weight: 800;
}

