@font-face {
      font-family: montserrat;
      src: url('../fonts/montserrat/Montserrat-Regular.ttf');
      font-style: normal;
      font-weight: 400;
}

@font-face {
      font-family: montserrat;
      src: url('../fonts/montserrat/Montserrat-Medium.ttf');
      font-style: normal;
      font-weight: 500;
}

@font-face {
      font-family: montserrat;
      src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
      font-style: normal;
      font-weight: 600;
}

@font-face {
      font-family: montserrat;
      src: url('../fonts/montserrat/Montserrat-Bold.ttf');
      font-style: normal;
      font-weight: 700;
}

@font-face {
      font-family: montserrat;
      src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
      font-style: normal;
      font-weight: 800;
}